[submodule "libs/WWCP_ISO15118"]
	path = libs/WWCP_ISO15118
	url = ssh://git@git.graphdefined.com:5001/OpenChargingCloud/WWCP_ISO15118.git
[submodule "libs/Hermod"]
	path = libs/Hermod
	url = ssh://git@git.graphdefined.com:5001/Vanaheimr/Hermod.git
[submodule "libs/Styx"]
	path = libs/Styx
	url = ssh://git@git.graphdefined.com:5001/Vanaheimr/Styx.git
